{% extends 'base.html' %}
{% block content %}
<div class="container dashbord">
    {% for item in list %}
    <div class="offset-2 col-8 dashbordItem">
        <div class="card text-center">
            <div class="card-header">
                    {% if item.type.name == "lesson" %}
                        Nowa lekcjia od {{item.author}} ({{item.lesson.subjects.name}})
                    {% else %}
                        {{item.author}}
                    {% endif %}
            </div>
            <div class="card-body">
                <h5 class="card-title">Temat : {{item.theme}}</h5>
                <p class="card-text">
                    <p class="lead">
                        {{item.description}}
                    </p>
                </p>
                     {% if item.lesson %}
                    <div class="btn-toolbar justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                    
                        <a href="{{ item.lesson.taskfile.url }}" class="btn btn-primary">Pobierz zadnie</a>
                            {% for el in item.lesson.tasks.all %}
                                {% if el.student.id == request.user.id %}
                                    {% if el.data_recived %}
                                        <div type="button" class="btn btn-success">Odebrane</div>
                                    {% else %}
                                        <a href="{% url 'main:ConfirmRecivedLesson' el.id %}" class="btn btn-warning">nie potwierdzone</a>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
            </div>
            <div class="card-footer text-muted">
                {{ item.data|date:"H:m-d.m.Y"|lower }}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
