{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <table class="table table-bordered table-dark">
          <thead>
              <tr>
                  <th scope="col"> Nr </th>
                  <th scope="col">Imię i Nazwisko</th>
                  <th scope="col">ostatnie Logowanie</th>
                  <th scope="col">Akcjie</th>
              </tr>
          </thead>
              <tbody>
                  {% for item in items %}
                  <tr>
                      <th scope="row">{{forloop.counter}}</th>
                      <td>{{item}}</td>
                      <td>{{item.last_login}}</td>
                      <td>
                          <a href="{% url 'main:sentMess' item.id %}">Wyslij Wadmosc</a>
                          <a href="{% url 'main:passwordReset' item.id %}">Zresetuj hasło</a>
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
        </table>
    </div>
{% endblock %}
