{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
        <div class="container">
        <table class="table table-bordered table-dark">
          <thead>
            <tr>
                  <th scope="col">Nauczyciel</th>
                  <th scope="col">Przedmiot</th>
                  <th scope="col">Temat</th>
                  <th scope="col">Data</th>
                  <th scope="col">Akcjia</th>
                  <th scope="col">Stan</th>
                </tr>
              </thead>
              <tbody>
                {% for item in items %}
                    <tr>
                        <td scope="row">{{item.teacher}}</td>
                        <td scope="row">{{item.subjects}}</td>
                        <td scope="row"><a href="{% url 'main:ShowLesson' item.id %}">{{item.theme}}</a></td>
                        <td scope="row">{{item.data}}</td>
                        <td scope="row"><a href="{% url 'main:sentSolution' item.idAction item.id  %}">wyslij rozwiązanie </a></td>
                        <td scope="row">
                            {% if item.stan == 'ConfirmRecived' %}
                                Potwierdzone odebranie
                            {% endif %}
                            {% if item.stan == 'rote' %}
                                {{item.rote}}
                            {% endif %}
                            {% if item.stan == 'ToAceptRecived' %}
                                Potwierz
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
              </tbody>
        </table>
    </div>
{% endblock %}