{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="row">
                <div class="col-6">{{context.teacher}} ({{context.subjects}})</div>
                <div class="col-6">{{context.data}}</div>
            </div>
            <h2>{{ context.theme }}</h2>
            gwrgwr w hh wh wrh rwhjwrj wjwrj wjw ej
            gwrgwr w hh wh wrh rwhjwrj wjwrj wjw ej
            gwrgwr w hh wh wrh rwhjwrj wjwrj wjw ej
            gwrgwr w hh wh wrh rwhjwrj wjwrj wjw ej
            gwrgwr w hh wh wrh rwhjwrj wjwrj wjw ej
            gwrgwr w hh wh wrh rwhjwrj wjwrj wjw ej
            gwrgwr w hh wh wrh rwhjwrj wjwrj wjw ej
        </div>
    </div>
    <table class="table table-bordered table-dark">
          <thead>
              <tr>
                  <th scope="col"> Nr </th>
                  <th scope="col">Imię i Nazwisko</th>
                  <th scope="col">Odebrane</th>
                  <th scope="col">Ocena</th>
                  <th scope="col">actions</th>
                  <th scope="col">Ostatnie Logowanie</th>
              </tr>
          </thead>
          <tbody>
            {% for item in students %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{item.student}}</td>
                    <td>
                        {% if item.status == 'ToAceptRecived' %}
                            nie odebrane
                        {% endif %}
                        {% if item.status == 'ConfirmRecived' %}
                            Odebranie
                        {% endif %}
                        {% if item.taskfile  %}
                            <a href="{{item.taskfile.url }}">pobierz zadnie</a>
                        {% endif %}
                    </td>
                    <td>
                        {{item.rote}}
                    </td>
                    <td>
                       <a href="{% url 'main:setRote' item.id  %}"> wystaw / zmień  ocene</a>
                    </td>
                    <td>
                        {{item.student.last_login}}
                    </td>
                </tr>
            {% endfor %}
          </tbody>
    </table>
</div>

{% endblock %}
